:host {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  
  ion-grid, ion-row {
    height: 100%;
  }

  ion-col {
    padding:0 2rem 3rem;
  }

  .closeBtn {
    position: absolute;
    top: 0rem;
    right: 0rem;
  }
}